<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>
    <link href="jsonTree/jsonTree.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="price.css"/>
</head>

<body>
    <div class="charts" data-symbols={{data}}></div>
    <p class="caption">Так выглядите ответ от backend'а, в JSON формате:</p>
    <div class="json"></div>
    <script src="chart.js"></script>
    <script src="jsonTree/jsonTree.js"></script>
    <script src='price.js'></script>
</body>

</html>