<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>
    <link rel="stylesheet" type="text/css" href="price.css"/>
</head>

<body>
    <div class="charts" data-symbols={{data}}>
        
    </div>
    <div>{{ data }}</div>
    
    <script src="chart.js"></script>
    <script src='price.js'></script>
</body>

</html>